
/*header*/
.header{
	display: flex;
	justify-content: flex-end;
	padding-top: 46px;
	height: 143px;
}
.header-logo{
	display: none;
	transform: translateY(-10px);
}


/*sidebar-toggle*/
.sidebar-toggle{
	display: none;
}
.sidebar-toggle div{
	width: 4px;
	height: 4px;
	margin: auto;
	background-color: #000;
	position: relative;
	font-size: 0;
	border-radius: 50px;
}
.sidebar-toggle div:before,
.sidebar-toggle div:after{
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50px;
	background-color: #000;
	transition: transform .2s linear;
}
.sidebar-toggle div:before{top: -8px;}
.sidebar-toggle div:after{bottom: -8px;}


/*nav-toggle*/
.nav-toggle-wrap{
	display: none;
}
.nav-toggle{
	width: 30px;
	height: 20px;
	display: flex;
}
.nav-toggle div{
	width: 100%;
	height: 2px;
	margin: auto;
	background-color: #000;
	position: relative;
	font-size: 0;
}
.nav-toggle div:before,
.nav-toggle div:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #000;
	transition: transform .2s linear;
}
.nav-toggle div:before{top: -8px;}
.nav-toggle div:after{bottom: -8px;}
.nav-toggle--active div{
	background-color: transparent;
}
.nav-toggle--active div:before{
	top: 0;
	transform: rotate(45deg);
}
.nav-toggle--active div:after{
	bottom: 0;
	transform: rotate(-45deg);
}




/*header-search*/
.header-search{
	display: flex;
	flex: 0 1 400px;
	margin-right: auto;
	border-radius: 2px;
    overflow: hidden;
}
.header-search .search-icon {
    font-size: 0;
    background: #fff url(../img/other_icons/search.svg) center no-repeat;
    background-size: auto 16px;
    width: 30px;
    height: 24px;
}
.header-search input{
	line-height: 24px;
	height: 24px;
	font-size: 17px;
	flex-grow: 1;
	padding: 1px 17px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-search input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-moz-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}






/*header-nav*/
.header-nav{
	flex-grow: 1;
	display: flex;
    gap: 47px;
}
.header-nav ul{
	width: 434px;
	height: 31px;
	display: flex;
	justify-content: space-between;
}
.header-nav ul li a{
	font-size: 17px;
	height: 100%;
	padding: 0 2px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-nav ul li::after{
	content: "";
	height: 2px;
	background-color: black;
	display: block;
	width: 0;
	transition: width 0.2s ease-in;
}
.header-nav ul li:hover::after{
	width: 100%;
}
.header-nav ul li.active::after{
	width: 100%;
}

/*header-user-button*/
.header-user-button{
	width: 73px;
	display: flex;
	justify-content: space-between;
}
.header-user-button .cart-icon{
	background: url("../img/other_icons/basket.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}
.header-user-button .user-icon{
	background: url("../img/other_icons/person.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}


@media (max-width: 1199px){
	.header-nav{
		display: none;
	}
	.header-search {
	    flex: 0 1 auto;
	}
	.nav-toggle-wrap{
		width: 30px;
		height: 20px;
		display: block;
	}
	.nav-toggle--active{
		position: fixed;
		z-index: 2;
		right: 20px;
	}
	.header-nav--active{
		display: flex;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #ed8080;	
		margin: 0;
		padding: 45px 30px;
		flex-direction: column;
		opacity: 0.9;
		z-index: 1;
		width: 320px;
		gap: 20px;
	}
	.header-nav--active ul{
		flex-direction: column;
		height: auto;
		width: auto;
	}
	.header-nav--active ul li{
		padding: 4px 0;
	}
	.header-nav--active .header-search{
		width: auto;
	}
	.header-nav--active .header-search input{
		width: 170px;
	}
	.header-nav--active .user-buttons{
		margin: 10px 0;
	}
}
@media (max-width: 767px){
	.header {
	    justify-content: space-between;
	}
	.sidebar-toggle{
		display: flex;
		width: 30px;
		height: 20px;
		margin-right: 10px;
	}
	.header-logo{
		display: block;
	}
}