.container{
	width: 1440px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 252px 1099px;
	grid-template-rows: 143px 1fr;
	column-gap: 37px;
}


/*Sidebar*/

.sidebar{
	min-height: 800px;
	padding: 51px 15px 68px 56px;
	display: flex;
    flex-direction: column;
    grid-row: span 2;
}
img.sidebar-logo{
	margin-bottom: 57px;
}
h2.nav-title{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 44px;
}
ul.nav-list{
	font-size: 15.71px;
}
ul.nav-list li{
	margin-bottom: 27px;
}
ul.nav-list li a{
	display: flex;
    align-items: center;
    transition: color 0.2s ease-in;
}
ul.nav-list li a:hover{
	color:  #FD2E24;
}
ul.nav-list li a::before{
	content: "";
	width: 27px;
	height: 27px;
	margin-right: 9px;
}
ul.nav-list li.new_in a::before{ 			background: url("../img/sidebar_icons/flash.png") 	left center no-repeat; }
ul.nav-list li.clothing a::before{ 			background: url("../img/sidebar_icons/clothes.png") left center no-repeat; }
ul.nav-list li.shoes a::before{ 			background: url("../img/sidebar_icons/shoes.png") 	left center no-repeat; }
ul.nav-list li.accessories a::before{ 		background: url("../img/sidebar_icons/bag.png") 	left center no-repeat; }
ul.nav-list li.activewear a::before{ 		background: url("../img/sidebar_icons/acrobat.png") left center no-repeat; }
ul.nav-list li.gifts_living a::before{ 		background: url("../img/sidebar_icons/gift.png") 	left center no-repeat; }
ul.nav-list li.inspiration a::before{ 		background: url("../img/sidebar_icons/diamond.png") left center no-repeat; }
a.sidebar-help{
	font-size: 15.71px;
	margin-top: auto;
}
a.sidebar-help::before{
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 33px;
	margin-left: 13px;
	background: url("../img/other_icons/help.svg") no-repeat;
	margin-top: auto;
}


/*header*/
header{
	display: flex;
	padding-top: 46px;
}



/*header-search*/

.header-search{
	display: flex;
	width: 400px;
	margin-right: auto;
}
.header-search .search-icon{
	font-size: 0;
	background: url("../img/other_icons/search.svg") center no-repeat;
	background-size: auto 18px;
	width: 24px;
	height: 24px;
}
.header-search input{
	line-height: 22px;
	height: 22px;
	font-size: 17px;
	flex-grow: 1;
	padding: 1px 17px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-search input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-moz-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}



/*header-nav*/
.header-nav ul{
	width: 434px;
	height: 31px;
	display: flex;
	justify-content: space-between;
}
.header-nav ul li a{
	font-size: 17px;
	height: 100%;
	padding: 0 2px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-nav ul li::after{
	content: "";
	height: 2px;
	background-color: black;
	display: block;
	width: 0;
	transition: width 0.2s ease-in;
}
.header-nav ul li:hover::after{
	width: 100%;
}
.header-nav ul li.active::after{
	width: 100%;
}


/*header-user-button*/

.header-user-button{
	width: 73px;
	margin-left: 47px;
	display: flex;
	justify-content: space-between;
}
.header-user-button .cart-icon{
	background: url("../img/other_icons/basket.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}
.header-user-button .user-icon{
	background: url("../img/other_icons/person.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}



/*cards-wrapper*/


.cards-wrapper{
	display: grid;
	grid-template-rows: 180px 180px 180px 180px;
	grid-template-columns: 259px 259px 259px 259px;
	gap: 21px;
	margin-bottom: 64px;
}
.card{
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 #4a8081;
	transition: all 0.2s ease-in;
}
.card:hover{
	transform: translateY(-5px);
	box-shadow: 0 5px 5px #4a8081;
}
.card-horizontal{
	grid-column: span 2;
}
.card-vertical{
	grid-row: span 2;
}
/*.card img{
	height: 100%;
	width: 100%;
}*/
.banner1{
	position: relative;
}
.banner1 p{
	position: absolute;               
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
}
.section .title{
	font-size: 26px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 3px;
}
.section .description{
	line-height: 23px;
}
.section-hot{
	position: relative;
}
.section>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 30px;
}
.section-hot .title{
	color: #001AA2;
}
.section-hot .description{
	line-height: 23px;
}
.section-new{
	position: relative;
}
.section-new .title{
	color: #FD2E24;
}
.section-new .description{
	line-height: 23px;
}
.fav-btn{
	width: 38px;
	height: 38px;
	position: absolute;
	top: 20px;
	right: 21px;
	background-color: #fff;
	font-size: 0;
	border-radius: 50%;
}
.fav-btn svg{
	fill: #fff;
	stroke: #000;
	transition: all 0.2s ease-in;
}
.fav-btn:hover svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}
.fav-btn.active svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}