/*cards-wrapper*/
.cards-wrapper{
	display: grid;	
	grid-template-columns: repeat(4, minmax(180px,259px));
	grid-auto-rows: 180px;
	grid-gap: 21px;
	margin-bottom: 64px;
	grid-auto-flow: dense;
}
.card{
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 #4a8081;
	transition: all 0.2s ease-in;
}
.card:hover{
	transform: translateY(-5px);
	box-shadow: 0 5px 5px #4a8081;
}
.card-horizontal{
	grid-column: span 2;
}
.card-vertical{
	display: flex;
    justify-content: center;
	grid-row: span 2;
}
/*.card img{
	height: 100%;
	width: 100%;
}*/
.banner1{
	position: relative;
}
.banner1 p{
	position: absolute;               
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.section{
	display: flex;
    justify-content: center;
}
.section .title{
	font-size: 26px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 3px;
}
.section .description{
	line-height: 23px;
}
.section-hot{
	position: relative;
}
.section .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 30px;
}
.section-hot .title{
	color: #001AA2;
}
.section-hot .description{
	line-height: 23px;
}
.section-new{
	position: relative;
}
.section-new .title{
	color: #FD2E24;
}
.section-new .description{
	line-height: 23px;
}
.fav-btn{
	width: 38px;
	height: 38px;
	position: absolute;
	top: 20px;
	right: 21px;
	background-color: #fff;
	font-size: 0;
	border-radius: 50%;
}
.fav-btn svg{
	fill: #fff;
	stroke: #000;
	transition: all 0.2s ease-in;
}
.fav-btn:hover svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}
.fav-btn--active svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}



@media (max-width: 1399px){
	.section .text {
	    width: 200px;
	}
}
@media (max-width: 1199px){
	.main{
		display: flex;
		justify-content: center;
	}
	.cards-wrapper{
		grid-template-columns: repeat(2, minmax(180px,259px));
	}
}
@media (max-width: 480px){
	.cards-wrapper{
		grid-template-columns: minmax(0, 259px);
	}
	.card-horizontal{
		grid-column: span 1;
	}
	.section{
		display: flex;
	    justify-content: flex-start;
	}
}