.container{
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 252px 1fr;
	grid-template-rows: 143px 1fr;
	column-gap: 37px;
}


/*Sidebar*/

.sidebar{
	min-height: 800px;
	padding: 51px 15px 68px 56px;
	display: flex;
    flex-direction: column;
    grid-row: span 2;
}
.sidebar-logo{
	margin-bottom: 57px;
}
.nav-title{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 44px;
}
.nav-list{
	font-size: 15.71px;
}
.nav-list li{
	margin-bottom: 27px;
}
.nav-list li a{
	display: flex;
    align-items: center;
    transition: color 0.2s ease-in;
}
.nav-list li a:hover{
	color:  #FD2E24;
}
.nav-list li a::before{
	content: "";
	width: 27px;
	height: 27px;
	margin-right: 9px;
}
.nav-list li.new_in a::before{ 			background: url("../img/sidebar_icons/flash.png") 	left center no-repeat; }
.nav-list li.clothing a::before{ 			background: url("../img/sidebar_icons/clothes.png") left center no-repeat; }
.nav-list li.shoes a::before{ 			background: url("../img/sidebar_icons/shoes.png") 	left center no-repeat; }
.nav-list li.accessories a::before{ 		background: url("../img/sidebar_icons/bag.png") 	left center no-repeat; }
.nav-list li.activewear a::before{ 		background: url("../img/sidebar_icons/acrobat.png") left center no-repeat; }
.nav-list li.gifts_living a::before{ 		background: url("../img/sidebar_icons/gift.png") 	left center no-repeat; }
.nav-list li.inspiration a::before{ 		background: url("../img/sidebar_icons/diamond.png") left center no-repeat; }
.sidebar-help{
	font-size: 15.71px;
	margin-top: auto;
}
.sidebar-help::before{
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 33px;
	margin-left: 13px;
	background: url("../img/other_icons/help.svg") no-repeat;
	margin-top: auto;
}


/*header*/
header{
	display: flex;
	justify-content: flex-end;
	padding-top: 46px;
}



/*nav-toggle*/
.nav-toggle{
	width: 30px;
	height: 20px;
	display: flex;
	display: none;
}
.nav-toggle div{
	width: 100%;
	height: 2px;
	margin: auto;
	background-color: #000;
	position: relative;
	font-size: 0;
}
.nav-toggle div:before,
.nav-toggle div:after{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	height: 2px;
	background-color: #000;
	transition: transform .2s linear;
}
.nav-toggle div:before{top: -8px;}
.nav-toggle div:after{bottom: -8px;}
.nav-toggle--active{
	position: fixed;
	z-index: 2;
}
.nav-toggle--active div{
	background-color: transparent;
}
.nav-toggle--active div:before{
	top: 0;
	transform: rotate(45deg);
}
.nav-toggle--active div:after{
	bottom: 0;
	transform: rotate(-45deg);
}
.nav-toggle--active + nav{
	display: flex;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #ed8080;	
	margin: 0;
	padding: 45px 30px;
	flex-direction: column;
	opacity: 0.9;
	z-index: 1;
	width: 320px;
}
.nav-toggle--active + nav ul{
	flex-direction: column;
	height: auto;
	width: auto;
}
.nav-toggle--active + nav ul li{
	padding: 4px 0;
}
.nav-toggle--active + nav .header-search{
	width: auto;
}
.nav-toggle--active + nav .header-search input{
	width: 170px;
}
.nav-toggle--active + nav .user-buttons{
	margin: 10px 0;
}



/*header-search*/

.header-search{
	display: flex;
	width: 400px;
	margin-right: auto;
	border-radius: 2px;
    overflow: hidden;
}
.header-search .search-icon {
    font-size: 0;
    background: #fff url(../img/other_icons/search.svg) center no-repeat;
    background-size: auto 16px;
    width: 30px;
    height: 24px;
}
.header-search input{
	line-height: 24px;
	height: 24px;
	font-size: 17px;
	flex-grow: 1;
	padding: 1px 17px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-search input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-moz-placeholder{
	color: rgba(0, 0, 0, 0.2);
}
.header-search input::-ms-input-placeholder{
	color: rgba(0, 0, 0, 0.2);
}






/*header-nav*/
.header-nav{
	flex-grow: 1;
	display: flex;
    gap: 47px;
}
.header-nav ul{
	width: 434px;
	height: 31px;
	display: flex;
	justify-content: space-between;
}
.header-nav ul li a{
	font-size: 17px;
	height: 100%;
	padding: 0 2px;
	font-family: 'Circular Std', 'Trebuchet MS', sans-serif;
}
.header-nav ul li::after{
	content: "";
	height: 2px;
	background-color: black;
	display: block;
	width: 0;
	transition: width 0.2s ease-in;
}
.header-nav ul li:hover::after{
	width: 100%;
}
.header-nav ul li.active::after{
	width: 100%;
}


/*header-user-button*/

.header-user-button{
	width: 73px;
	display: flex;
	justify-content: space-between;
}
.header-user-button .cart-icon{
	background: url("../img/other_icons/basket.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}
.header-user-button .user-icon{
	background: url("../img/other_icons/person.svg") center no-repeat;
	background-size: auto 20px;
	font-size: 0;
	width: 24px;
	height: 24px;
}



/*cards-wrapper*/


.cards-wrapper{
	display: grid;	
	grid-template-columns: repeat(4, minmax(180px,259px));
	grid-auto-rows: 180px;
	gap: 21px;
	margin-bottom: 64px;
	grid-auto-flow: dense;
}
.card{
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 #4a8081;
	transition: all 0.2s ease-in;
}
.card:hover{
	transform: translateY(-5px);
	box-shadow: 0 5px 5px #4a8081;
}
.card-horizontal{
	grid-column: span 2;
}
.card-vertical{
	display: flex;
    justify-content: center;
	grid-row: span 2;
}
/*.card img{
	height: 100%;
	width: 100%;
}*/
.banner1{
	position: relative;
}
.banner1 p{
	position: absolute;               
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.section{
	display: flex;
    justify-content: center;
}
.section .title{
	font-size: 26px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 3px;
}
.section .description{
	line-height: 23px;
}
.section-hot{
	position: relative;
}
.section .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 30px;
}
.section-hot .title{
	color: #001AA2;
}
.section-hot .description{
	line-height: 23px;
}
.section-new{
	position: relative;
}
.section-new .title{
	color: #FD2E24;
}
.section-new .description{
	line-height: 23px;
}
.fav-btn{
	width: 38px;
	height: 38px;
	position: absolute;
	top: 20px;
	right: 21px;
	background-color: #fff;
	font-size: 0;
	border-radius: 50%;
}
.fav-btn svg{
	fill: #fff;
	stroke: #000;
	transition: all 0.2s ease-in;
}
.fav-btn:hover svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}
.fav-btn.active svg{
	fill: #FD2E24;
	stroke: #FD2E24;
}



@media (max-width: 1349px){
	.header-nav{
		display: none;
	}
	.nav-toggle{
		display: block;
	}
	.section .text {
	    width: 200px;
	}
}
@media (max-width: 1114px){
	.main{
		display: flex;
		justify-content: center;
	}
	.cards-wrapper{
		grid-template-columns: repeat(2, minmax(180px,259px));
	}

}
@media (max-width: 729px){
	.container {
	    grid-template-columns: 1fr;
	    grid-template-rows: 115px 1fr;
	}
	.sidebar{
		display: none;
	}
	.cards-wrapper{
		grid-template-columns: repeat(2, minmax(150px,259px));
		grid-auto-rows: 150px;
	}
	.section .title {
	    line-height: 28px;
	}
}
@media (max-width: 409px){	
	.container {
	    max-width: 299px;
	}
	.cards-wrapper{
		grid-template-columns: 1fr;
	}
	.card-horizontal{
		grid-column: span 1;
	}
	.section{
		display: flex;
	    justify-content: flex-start;
	}
}