.sidebar{
	flex: 0 0 290px;
	width: 290px;
	padding: 45px 15px 68px 56px;
	overflow: auto;
}
.sidebar-content{
	display: flex;
    flex-direction: column;
    min-height: 800px;
    height: 100%;
}
.sidebar-logo{
	margin-bottom: 45px;
}
.nav-title{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 44px;
	overflow: hidden;
}
.nav-list{
	font-size: 15.71px;
}
.nav-list li{
	margin-bottom: 27px;
	overflow: hidden;
}
.nav-list li a{
	display: flex;
    align-items: center;
    transition: color 0.2s ease-in;
    padding-left: 40px;
    position: relative;
    word-wrap: normal;
    height: 20px;
    white-space:  nowrap;
}
.nav-list li a:hover{
	color:  #FD2E24;
}
.nav-list li a::before{
	content: "";
	position: absolute;
	left: 0;
	width: 27px;
	height: 27px;
}
.nav-list li.new_in a::before{ 			background: url("../img/sidebar_icons/flash.png") 	left center no-repeat; }
.nav-list li.clothing a::before{ 			background: url("../img/sidebar_icons/clothes.png") left center no-repeat; }
.nav-list li.shoes a::before{ 			background: url("../img/sidebar_icons/shoes.png") 	left center no-repeat; }
.nav-list li.accessories a::before{ 		background: url("../img/sidebar_icons/bag.png") 	left center no-repeat; }
.nav-list li.activewear a::before{ 		background: url("../img/sidebar_icons/acrobat.png") left center no-repeat; }
.nav-list li.gifts_living a::before{ 		background: url("../img/sidebar_icons/gift.png") 	left center no-repeat; }
.nav-list li.inspiration a::before{ 		background: url("../img/sidebar_icons/diamond.png") left center no-repeat; }
.sidebar-help{
	font-size: 15.71px;
	height: 19px;
	margin-top: auto;
}
.sidebar-help::before{
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 33px;
	margin-left: 13px;
	background: url("../img/other_icons/help.svg") no-repeat;
	margin-top: auto;
}
@media (max-width: 767px){
	.sidebar{
		position: fixed;
		left: -290px;
		transition: left .2s ease-out;
		z-index: 1;
		background-color: #fafafa;
		box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
		top: 0;
		bottom: 0;
	}
	.sidebar--active{
		left: 0;
	}
	.sidebar-content{
		min-height: 600px;
	}
	.sidebar-logo{
		display: none;
	}
}